.container{
    margin: 100px  0;
}

.cards {
    margin: 0  10%  !important;
}

.infected{
    border-bottom: 10px solid rgb(235, 70, 70)}


.recovered{
    border-bottom: 10px solid rgb(29, 233, 29)}

    
.deaths{
    border-bottom: 10px solid rgba(203, 216, 19, 0.151)
}